body {
    background: white url("images/background.png") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center bottom;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li a {
    color: red;
}